<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="casesJbpmProcessManager" class="is.idega.idegaweb.egov.cases.jbpm.CasesJbpmProcessManager" scope="singleton">
		<property name="jbpmConfiguration" ref="defaultJbpmConfiguration" />
		<property name="sessionFactory" ref="idega_jbpmDSHibernateSessionFactory" />
        <property name="variablesHandler" ref="process_xforms_variablesHandler" />
        <property name="jbpmProcessManager" ref="jbpmProcessManager" />
	</bean>
    
    <bean id="casesJbpmFormsBundleFactory" class="is.idega.idegaweb.egov.cases.jbpm.bundle.CasesJbpmFormsBundleFactory" scope="singleton">
        <property name="sessionFactory" ref="idega_jbpmDSHibernateSessionFactory" />
        <property name="jbpmConfiguration" ref="defaultJbpmConfiguration" />
        <property name="documentManagerFactory" ref="xformsDocumentManagerFact" />
        <property name="persistenceManager" ref="xformsPersistenceManager" />
        <property name="viewFactory" ref="process_xforms_viewFactory" />
        <property name="viewToTaskBinder" ref="process_xforms_viewToTask" />
    </bean>
    
    <bean id="casesJbpmProcess" class="is.idega.idegaweb.egov.cases.jbpm.CasesJbpmProcess" scope="request">
        <property name="sessionFactory" ref="idega_jbpmDSHibernateSessionFactory" />
        <property name="casesJbpmFormsBundleFactory" ref="casesJbpmFormsBundleFactory" />
        <property name="templateBundleLocation" value="resources/casesJbpmTemplates/simpleCasesProcessTemplate/" />
    </bean>
    
    <bean id="casesJbpmFormManager" class="is.idega.idegaweb.egov.cases.jbpm.form.CasesJbpmFormManager" scope="singleton">
        <property name="jbpmConfiguration" ref="defaultJbpmConfiguration" />
        <property name="sessionFactory" ref="idega_jbpmDSHibernateSessionFactory" />
        <property name="documentManagerFactory" ref="xformsDocumentManagerFact" />
        <property name="viewToTaskBinder" ref="process_xforms_viewToTask" />
        <property name="variablesHandler" ref="process_xforms_variablesHandler" />
    </bean>
    
    <bean id="casesJbpmUtil" class="is.idega.idegaweb.egov.cases.jbpm.CasesJbpmUtil" scope="singleton" />
</beans>