.casesTable td, .casesTable th {
	font-size: 10px;
	empty-cells: show;
}

.casesTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

.casesTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

.casesTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable tfoot tr td {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable .casesTable_oddRow {
	background-color: #EFEFEF;	
}

.casesTable .casesTable_evenRow {
	background-color: #FFFFFF;	
}

.statisticsLayer th {
	width : 100px;
}

.statisticsLayer .name{
	width : 300px;
}

table.adminTable tr.isPrivate {
	background-color: #fff0cc;
}

table.adminTable tr.isReview {
	background-color: #cce7ff;
}

ul.legend li.isPrivate {
	color: #f09e00;
}

ul.legend li.isReview {
	color: #0088ff;
}

div.info div#phone, div.info div#email {
	float: right;
}

div.casesListHeadersContainer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 5px 8px;
	text-align:left;
	overflow: hidden;
}

div.casesListHeadersContainerItem, div.casesListBodyContainerItem, div.old_casesListBodyContainerItem {
	float: left;
}

div.casesListCaseContainer {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 5px 8px;
	font-size: 0.85em;
}

div.casesListCaseContainer:hover {
	background-color: #dfdfdf;
}

div.casesListHeadersContainerItemToggler, div.casesListBodyContainerItemToggler, div.old_casesListBodyContainerItemToggler {
	width: 7%;
}

div.casesListHeadersContainerItemCaseNumber, div.casesListBodyContainerItemCaseNumber {
	width: 22%;
}

div.casesListBodyContainerItemCaseNumber img {
	float: left;
}

div.casesListHeadersContainerItemSender, div.casesListBodyContainerItemSender {
	width: 21%;
}

div.casesListHeadersContainerItemDescription, div.casesListBodyContainerItemDescription {
	width: 23%;
}

div.casesListHeadersContainerItemCaseType, div.casesListBodyContainerItemCaseType {
	/*width: 12%;*/
	display: none;
}

div.casesListHeadersContainerItemCreatedDate, div.casesListBodyContainerItemCreationDate {
	width: 15%;
}

div.casesListHeadersContainerItemStatus, div.casesListBodyContainerItemStatus {
	width: 12%;
}

div.casesListHeadersContainerItemHandler, div.casesListBodyContainerItemHandler {
	/*width: 10%;*/
	display: none;
}

div.casesListHeadersContainerItemMultiHandle, div.casesListBodyContainerItemMultiHandle {
	width: 3%;
}

div.casesListGridExpanderStyleClass, .caseLogsAsPDFStyleClass {
	cursor: pointer;
}

div.expand {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit.png) no-repeat scroll center center;
	cursor: pointer;
	height: 16px;
}

div.expanded {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit_expanded.png) no-repeat scroll center center;
	cursor: pointer;
	height: 16px;
}

img.downloadCaseAsPdfStyle {
}

img.downloadCaseAsPdfStyle:hover {
	cursor: pointer;
}

img.signGeneratedFormToPdfStyle {
}

img.signGeneratedFormToPdfStyle:hover {
	cursor: pointer;
}

img.caseProcessResourceAccessRightsStyle {
	height: 16px;
	width: 16px;
}

img.setSameAccessRightsStyle {
	cursor: pointer;
}

div.caseProcessResourceAccessRightsSetterStyle {
	z-index: 1000;
	position: absolute;
	display: none;
	border: 2px solid #666;
	background-color: #fff;
	margin-left: -166px;
	width: 180px;
}

div.caseProcessResourceAccessRightsSetterStyle h3 {
	font-size: 0.75em;
	border-bottom: 1px #d7d7d7 solid;
	padding: 3px 5px;
	background-color: #666;
	color: #fff;
}

div.caseProcessResourceAccessRightsSetterStyle table {
	font-size: 0.6875em;
	width: 100%;
	border-collapse: separate;
}

div.caseProcessResourceAccessRightsSetterStyle table th {
	text-align: left;
	padding: 2px 5px;
	vertical-align: bottom;
	border-bottom: 1px #ccc solid;
}

div.caseProcessResourceAccessRightsSetterStyle table td {
	padding: 2px 5px;
	border-bottom: 1px #ccc solid;
}

div.caseProcessResourceAccessRightsSetterStyle table input {
	margin: 0;
	vertical-align: middle;
}

div.caseProcessResourceAccessRightsSetterStyle div.links {
	font-size: 0.6875em;
	padding: 2px 5px;
}

div.caseProcessResourceAccessRightsSetterStyle div.links a {
	padding-right: 5px;
}

div.caseProcessResourceAccessRightsSetterStyle div.links a.setRoleDefaults {
	padding-left: 0;
}

div.caseProcessResourceAccessRightsSetterStyle div.links img {
	width: 16px;
	vertical-align: top;
}

div.caseGrids {
	border: 1px #a0a0a0 solid;
	background-color: #fff;
	margin-top: 8px;
	margin-bottom: 3px;
	width: auto !important;
	clear: both;
}

div.caseGrids div {
	height: auto !important;
	width: auto !important;
}

div.caseGrids div.header {
	display: block !important;
	float: none;
	width: 598px;
	line-height: 22px;
	height: 22px;
	font-weight: bold;
	padding: 0 8px;
	border-bottom: 1px #a0a0a0 solid;
	overflow: hidden;
}

div.caseGrids div.header {
	margin-bottom: 0;
	background-color: #efefef;
}

div.caseGrids table {
	width: 100% !important;
}

a.casesBPMAttachmentDownloader {
	display: none;
}

a.casesBPMPDFGeneratorAndDownloader {
	display: none;
}

table.scroll tbody tr td {
	cursor: pointer;
}

div.hiddenLinksForCasesContainerStyle {
	display: none;
}

span.watchUnwatchCase {
	cursor: pointer;
}

.selectCaseHandlerLabelStyle {
	font-size: 11px;
	float: left;
	clear: none;
	margin-left: 10px;
}

div.casesSearcherInputsBoxStyleClass {
	border-top: 1px #fff solid;
	padding-top: 10px;
}

div.shortFormItem label {
	width: 75px;
}

div.shortFormItem input, div.shortFormItem select {
	width: 108px;
	margin: 0;
	border: 1px #a0a0a0 solid;
}

div.casesSearcherInputsBoxStyleClass .buttonLayer {
	margin: 0;
}

div.casesSearcherInputsBoxStyleClass .buttonLayer input {
	text-transform: none !important;
	padding: 3px 5px;
	margin-left: 8px;
}

a.old_casesListBodyContainerItemLink {
	margin-left: 13px;
}

td.alignCenterText {
	text-align:center !important;	
}

.caseProcessResourceAccessRightsSetterStyle .setRoleDefaults {
    padding-left: 15px;
}

.processDefinitionVariablesWindowStyle {
}

.deleteBPMVariableImagePath {
	display: none !important;
}

.loadBPMVariableInputField {
	display: none !important;
}

.processVariablesWindowMainButtonsContainer {
	float: right;
	margin: 5px;
}

.processVariablesWindowButtonsContainer {
	float: right;
	margin-left: 5px;
}

img.variableFieldDeleter {
	cursor: pointer;
	margin-left: 5px;
	margin-top: 5px;
}

.casesListCasesStatisticsContainer {
	margin: 8px;
	margin-top: 8px;
	border: 1px #a8a8a8 solid;
	background-color: #efefef;
}

.casesListCasesStatisticsContainer h1 {
	margin-top: 8px;
	margin-left: 8px;
}

.casesListCasesStatisticsContainer h2 {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	font-size: 1.2em;
	margin-left: 8px;
}

.casesListCasesStatisticsContainer table.adminTable {
	margin-top: 4px;
}

.casesListCasesStatisticsContainer table.adminTable td, .casesListCasesStatisticsContainer table.adminTable th {
	text-align: right;
}

.casesListCasesStatisticsContainer table.adminTable td.firstColumn, .casesListCasesStatisticsContainer table.adminTable th.firstColumn {
	text-align: left;
}

.userCasesSearchQueryInfoContainer {
	margin: 0 8px;
	padding: 8px;
	border: 1px #EFD585 solid;
	margin-bottom: 8px;
	background: url(images/search-query-background.gif) top left #ffd;
}

.userCasesSearchQueryInfoContainer br {
	display: none;
}

.userCasesSearchQueryInfoContainer h3 {
	margin: 0;
	font-size: 1.1em;
}

.userCasesSearchQueryInfoContainer ul {
	padding-left: 20px;
	margin: 0;
	margin-top: 6px;
}

div.formItem span.datepicker_wrap input {
	margin: 0;
	width: 150px;
}

div.formItem.checkboxFormItem label {
	float: left;
	width: auto;
}

div.formItem.checkboxFormItem input {
	width: auto;
	float: left;
	margin-right: 4px;
}

.processDefinitionVariablesWindowStyle, .processVariablesWindowNoVariablesText, .casesSearchResultsSortingOptions {
	border: 1px #a8a8a8 solid;
	clear: both;
	background-color: #efefef;
	padding: 6px;
	margin-top: 4px;
	width: 172px;
	overflow: hidden;
}

.processDefinitionVariablesWindowStyle label {
	font-size: 0.8em;
	width: auto !important;
	display: block !important;
	float: none !important;
	clear: both !important;
}

.processDefinitionVariablesWindowStyle input {
	width: 150px !important;
	float: left !important;
	clear: none !important;
	margin: 0 !important;
}

.processDefinitionVariablesWindowStyle select {
	width: 176px !important;
}

.processDefinitionVariablesWindowStyle img {
	float: right;
	margin: 0;
	margin-top: 1px;
}

#variableInputsContainer label {
	padding-top: 6px;
}

.processVariablesWindowNoVariablesText h3 {
	margin: 0;
	font-size: 1em;
}

img.addProcessVariableImageStyle {
	cursor: pointer;
}

.casesBPMAssets .content {
	display: none;
}

div.commentsViewerForTaskViewerInCasesList {
	display: none;
}

span.sendCaseEmailTextStyleInBPMCaseViewer {
	margin-left: 5px;
}

div.personProfilePictureInCasesListContactPartStyle {
	position: absolute;
}

.personProfilePictureInCasesListContactPartStyle img {
	width: 107px;
	height: 134px;
}

img.userProfilePictureInCasesList {
	display: none !important;
}

table.casesBoardViewerTable {
	border-spacing: 0;
	width: 100%;
	margin-bottom: 12px;
}

table.casesBoardViewerTable th, table.casesBoardViewerTable td {
	border-style: solid;
	margin: 0;
	border-width: 0 0 1px 0;
	padding: 3px 5px;
	font-size: 0.8em;
	vertical-align: top;
}

table.casesBoardViewerTable th {
	padding-right: 20px;
	text-align: left;
	vertical-align: bottom;
}

table.casesBoardViewerTable tfoot {
	font-weight: bold;
}

table.casesBoardViewerTable tfoot td {
	border: 0;
}

tr.even {
	background-color: #EFEFEF;
}

.casesBoardViewerBodyRows tr:hover {
	background-color: #a8a8a8;
}

.casesBoardViewerTable thead tr .header {
	background-image: url(../images/bg.gif);
	background-position: right 17px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.casesBoardViewerTable thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.casesBoardViewerTable thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}

.casesBoardViewerTableEditableCellselect:hover {
	background-color: transparent url(../images/text-edit.png) no-repeat scroll left top;
}

.casesBoardViewerTableEditableCelltextarea textarea {
	width: 150px !important;
}

.casesBoardViewerTableEditableCellInitialized {
	background: url(../images/text-edit.png) right 3px no-repeat;
}

.casesSearcherAddSortingOptionImageStyle:HOVER {
	cursor: pointer;
}

.casesSearchResultsSortingOptionsRemoveOption {
	display:block;
	height:16px;
	text-align:center;
	width:16px;
	background: url(../images/remove.png) no-repeat scroll left top;
	margin-left: 150px;
 }
 
.casesSearchResultsSortingOptionsRemoveOptionInnerSpan {
	display: none;
}

.casesSearchResultsSortingOptionsRemoveOptionSpan {
	margin-bottom: 0px !important;
	width: 145px !important;
	overflow: hidden;
}

.casesSearchResultsSortingOptionsList {
	list-style-type: none;
	border-top-style: none !important;
	padding-top: 0px !important;
	padding-left: 1px !important;
}

.casesSearchResultsSortingOptionContainer:HOVER {
	cursor: move;
}

.reloadCaseStyleClass {
	padding-top: 3px !important;
	padding-left: 10px !important;
}

.reloadCaseStyleClass:HOVER {
	cursor: pointer;
}
