.casesTable td, th {
	font-size: 10px;
	empty-cells: show;
}

.casesTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

.casesTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

.casesTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable tfoot tr td {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable .casesTable_oddRow {
	background-color: #EFEFEF;	
}

.casesTable .casesTable_evenRow {
	background-color: #FFFFFF;	
}