.casesTable td, th {
	font-size: 10px;
	empty-cells: show;
}

.casesTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

.casesTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

.casesTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable tfoot tr td {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable .casesTable_oddRow {
	background-color: #EFEFEF;	
}

.casesTable .casesTable_evenRow {
	background-color: #FFFFFF;	
}

.statisticsLayer TH {
	width : 100px;
}

.statisticsLayer .name{
	width : 300px;
}

table.adminTable tr.isPrivate {
	background-color: #fff0cc;
}

table.adminTable tr.isReview {
	background-color: #cce7ff;
}

ul.legend li.isPrivate {
	color: #f09e00;
}

ul.legend li.isReview {
	color: #0088ff;
}

div.info div#phone, div.info div#email {
	float: right;
}

div.casesListHeadersContainer {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	color: #595A54;
	font-weight: bold;
	padding: 3px;
	text-align:left;
	background-color: #C0E0FC;
	overflow: hidden;
}

div.casesListHeadersContainerItem, div.casesListBodyContainerItem {
	float: left;
}

div.casesListCaseContainer {
	overflow: hidden;
	border-bottom: 1px solid #D7D7D7;
}

div.casesListHeadersContainerItemToggler {
	width: 5%;
}
div.casesListBodyContainerItemToggler {
	width: 5%;
}

div.casesListHeadersContainerItemCaseNumber {
	width: 20%;
}
div.casesListBodyContainerItemCaseNumber {
	width: 20%;
}

div.casesListHeadersContainerItemSender {
	width: 15%;
}
div.casesListBodyContainerItemSender {
	width: 15%;
}

div.casesListHeadersContainerItemDescription {
	width: 27%;
}
div.casesListBodyContainerItemDescription {
	width: 27%;
}

div.casesListHeadersContainerItemCaseType {
	width: 12%;
}
div.casesListBodyContainerItemCaseType {
	width: 12%;
}

div.casesListHeadersContainerItemCreatedDate {
	width: 15%;
}
div.casesListBodyContainerItemCreationDate {
	width: 15%;
}

div.casesListHeadersContainerItemStatus {
	width: 15%;
}
div.casesListBodyContainerItemStatus {
	width: 15%;
}

div.casesListHeadersContainerItemHandler {
	width: 10%;
}
div.casesListBodyContainerItemHandler {
	width: 10%;
}

div.casesListHeadersContainerItemMultiHandle {
	width: 3%;
}
div.casesListBodyContainerItemMultiHandle {
	width: 3%;
}

div.casesListBodyContainer {
}

div.casesListCaseContainer {
	width: 100%;
}

div.casesListBodyContainerItem {
	float: left;
}

div.casesListGridExpanderStyleClass {
	cursor: pointer;
}

div.expand {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit.png) no-repeat scroll left top;
	cursor: pointer;
	height: 16px;
}

div.expanded {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit_expanded.png) no-repeat scroll left top;
	cursor: pointer;
	height: 16px;
}

img.downloadCaseAsPdfStyle {
}

img.downloadCaseAsPdfStyle:hover {
	cursor: pointer;
}

img.caseProcessResourceAccessRightsStyle {
	height: 16px;
	width: 16px;
}

div.caseProcessResourceAccessRightsSetterStyle {
	z-index: 1000;
	position: absolute;
	display: none;
	border: 1px solid #D7D7D7;
	padding: 3px;
	background-color: #fff;
}

div.caseGrids {
	border: 1px #a0a0a0 solid;
	background-color: #fff;
	margin-top: 8px;
	margin-bottom: 3px;
	width: 614px !important;
	clear: both;
}

div.caseGrids div {
	height: auto !important;
	width: auto !important;
}

div.caseGrids div.header {
	display: block !important;
	float: none;
	width: 598px;
	line-height: 22px;
	height: 22px;
	font-weight: bold;
	padding: 0 8px;
	border-bottom: 1px #a0a0a0 solid;
	overflow: hidden;
}

a.casesBPMAttachmentDownloader {
	display: none;
}

a.casesBPMPDFGeneratorAndDownloader {
	display: none;
}

table.scroll tbody tr td {
	cursor: pointer;
}

div.hiddenLinksForCasesContainerStyle {
	display: none;
}

span.watchUnwatchCase {
	cursor: pointer;
}