.casesTable td, .casesTable th {
	font-size: 10px;
	empty-cells: show;
}

.casesTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

.casesTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

.casesTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable tfoot tr td {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable .casesTable_oddRow {
	background-color: #EFEFEF;	
}

.casesTable .casesTable_evenRow {
	background-color: #FFFFFF;	
}

.statisticsLayer th {
	width : 100px;
}

.statisticsLayer .name{
	width : 300px;
}

table.adminTable tr.isPrivate {
	background-color: #fff0cc;
}

table.adminTable tr.isReview {
	background-color: #cce7ff;
}

ul.legend li.isPrivate {
	color: #f09e00;
}

ul.legend li.isReview {
	color: #0088ff;
}

div.info div#phone, div.info div#email {
	float: right;
}

div.casesListHeadersContainer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 5px 8px;
	text-align:left;
	overflow: hidden;
}

div.casesListHeadersContainerItem, div.casesListBodyContainerItem, div.old_casesListBodyContainerItem {
	float: left;
}

div.casesListCaseContainer {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 5px 8px;
}

div.casesListCaseContainer:hover {
	background-color: #dfdfdf;
}

div.casesListHeadersContainerItemToggler, div.casesListBodyContainerItemToggler, div.old_casesListBodyContainerItemToggler {
	width: 5%;
}

div.casesListHeadersContainerItemCaseNumber, div.casesListBodyContainerItemCaseNumber {
	width: 28%;
}

div.casesListBodyContainerItemCaseNumber img {
	float: left;
}

div.casesListHeadersContainerItemSender, div.casesListBodyContainerItemSender {
	width: 15%;
	display: none;
}

div.casesListHeadersContainerItemDescription, div.casesListBodyContainerItemDescription {
	width: 30%;
}

div.casesListHeadersContainerItemCaseType, div.casesListBodyContainerItemCaseType {
	width: 12%;
}

div.casesListHeadersContainerItemCreatedDate, div.casesListBodyContainerItemCreationDate {
	width: 20%;
}

div.casesListHeadersContainerItemStatus, div.casesListBodyContainerItemStatus {
	width: 15%;
}

div.casesListHeadersContainerItemHandler, div.casesListBodyContainerItemHandler {
	width: 10%;
}

div.casesListHeadersContainerItemMultiHandle, div.casesListBodyContainerItemMultiHandle {
	width: 3%;
}

div.casesListGridExpanderStyleClass {
	cursor: pointer;
}

div.expand {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit.png) no-repeat scroll center center;
	cursor: pointer;
	height: 16px;
}

div.expanded {
	background: transparent url(/idegaweb/bundles/is.idega.idegaweb.egov.cases.bundle/resources/edit_expanded.png) no-repeat scroll center center;
	cursor: pointer;
	height: 16px;
}

img.downloadCaseAsPdfStyle {
}

img.downloadCaseAsPdfStyle:hover {
	cursor: pointer;
}

img.signGeneratedFormToPdfStyle {
}

img.signGeneratedFormToPdfStyle:hover {
	cursor: pointer;
}

img.caseProcessResourceAccessRightsStyle {
	height: 16px;
	width: 16px;
}

img.setSameAccessRightsStyle {
	cursor: pointer;
}

div.caseProcessResourceAccessRightsSetterStyle {
	z-index: 1000;
	position: absolute;
	display: none;
	border: 1px solid #D7D7D7;
	padding: 3px;
	background-color: #fff;
}

div.caseGrids {
	border: 1px #a0a0a0 solid;
	background-color: #fff;
	margin-top: 8px;
	margin-bottom: 3px;
	width: auto !important;
	clear: both;
}

div.caseGrids div {
	height: auto !important;
	width: auto !important;
}

div.caseGrids div.header {
	display: block !important;
	float: none;
	width: 598px;
	line-height: 22px;
	height: 22px;
	font-weight: bold;
	padding: 0 8px;
	border-bottom: 1px #a0a0a0 solid;
	overflow: hidden;
}

div.caseGrids div.header {
	margin-bottom: 0;
	background-color: #efefef;
}

div.caseGrids table {
	width: 100% !important;
}

a.casesBPMAttachmentDownloader {
	display: none;
}

a.casesBPMPDFGeneratorAndDownloader {
	display: none;
}

table.scroll tbody tr td {
	cursor: pointer;
}

div.hiddenLinksForCasesContainerStyle {
	display: none;
}

span.watchUnwatchCase {
	cursor: pointer;
}

div.casesSearcherInputsBoxStyleClass {
	border-top: 1px #fff solid;
	padding-top: 10px;
}

div.shortFormItem label {
	width: 75px;
}

div.shortFormItem input, div.shortFormItem select {
	width: 108px;
	margin: 0;
	border: 1px #a0a0a0 solid;
}

div.casesSearcherInputsBoxStyleClass .buttonLayer {
	margin: 0;
}

div.casesSearcherInputsBoxStyleClass .buttonLayer input {
	text-transform: none !important;
	padding: 3px 5px;
	margin-left: 8px;
}

a.old_casesListBodyContainerItemLink {
	margin-left: 8px;
}

div.noContentInCasesListGridBody {
	margin-left: 5px !important;
}

td.alignCenterText {
	text-align:center !important;	
}

.caseProcessResourceAccessRightsSetterStyle .setRoleDefaults {
    padding-left: 15px;
}

.processDefinitionVariablesWindowStyle {
}

.deleteBPMVariableImagePath {
	display: none !important;
}

.loadBPMVariableInputField {
	display: none !important;
}

.processVariablesWindowMainButtonsContainer {
	float: right;
	margin: 5px;
}

.processVariablesWindowButtonsContainer {
	float: right;
	margin-left: 5px;
}

img.variableFieldDeleter {
	cursor: pointer;
	margin-left: 5px;
	margin-top: 5px;
}

.casesListCasesStatisticsContainer {
	margin: 8px;
	margin-top: 8px;
	border: 1px #a8a8a8 solid;
	background-color: #efefef;
}

.casesListCasesStatisticsContainer h1 {
	margin-top: 8px;
	margin-left: 8px;
}

.casesListCasesStatisticsContainer h2 {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	font-size: 1.2em;
	margin-left: 8px;
}

.casesListCasesStatisticsContainer table.adminTable {
	margin-top: 4px;
}

.casesListCasesStatisticsContainer table.adminTable th.INPR, .casesListCasesStatisticsContainer table.adminTable td.INPR {
	display: none;
}

.casesListCasesStatisticsContainer table.adminTable td, .casesListCasesStatisticsContainer table.adminTable th {
	text-align: right;
}

.casesListCasesStatisticsContainer table.adminTable td.firstColumn, .casesListCasesStatisticsContainer table.adminTable th.firstColumn {
	text-align: left;
}

.userCasesSearchQueryInfoContainer {
	margin: 0 8px;
	padding: 8px;
	border: 1px #EFD585 solid;
	margin-bottom: 8px;
	background: url(../images/search-query-background.gif);
}

.userCasesSearchQueryInfoContainer br {
	display: none;
}

.userCasesSearchQueryInfoContainer h3 {
	margin: 0;
	font-size: 1.1em;
}

.userCasesSearchQueryInfoContainer ul {
	padding-left: 20px;
	margin: 0;
	margin-top: 6px;
}

div.formItem span.datepicker_wrap input {
	margin: 0;
	width: 150px;
}

.processDefinitionVariablesWindowStyle, .processVariablesWindowNoVariablesText {
	border: 1px #a8a8a8 solid;
	clear: both;
	background-color: #efefef;
	padding: 6px;
	margin-top: 4px;
	width: 172px;
	overflow: hidden;
}

.processDefinitionVariablesWindowStyle label {
	font-size: 0.8em;
	width: auto !important;
	display: block !important;
	float: none !important;
	clear: both !important;
}

.processDefinitionVariablesWindowStyle input, .processDefinitionVariablesWindowStyle select {
	width: 150px !important;
	float: left !important;
	clear: none !important;
	margin: 0 !important;
}

.processDefinitionVariablesWindowStyle img {
	float: right;
	margin: 0;
	margin-top: 1px;
}

#variableInputsContainer label {
	padding-top: 6px;
}

.processVariablesWindowNoVariablesText h3 {
	margin: 0;
	font-size: 1em;
}

img.addProcessVariableImageStyle {
	cursor: pointer;
}